<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.blogspot.mowael.utilslibrary">
	
	<uses-sdk tools:overrideLibrary="androidx.security" />
	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
